@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
  color: rgb(var(--foreground-rgb));
  background: black;
} 

*, *::before, *::after {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1.5s forwards;
}
